// 颜色定义规范
$color-background = #86c46f
$color-background-d = rgba(134, 196, 195, 0.3)
$color-background-l = rgba(134, 196, 195, 0.5)
$color-background-ll = rgba(134, 196, 195, 0.8)
$color-list-background = #ffffff
$color-light-background = #ebedef

$color-theme = #ffffff
$color-theme-d = rgba(255, 255, 255, 0.3)
$color-theme-l = rgba(255, 255, 255, 0.5)
$color-theme-ll = rgba(255, 255, 255, 0.8)

$color-text = #ebedef
$color-text-d = rgba(235, 237, 239, 0.3)
$color-text-l = rgba(235, 237, 239, 0.5)
$color-text-ll = rgba(235, 237, 239, 0.8)

$color-word = #000000
$color-word-d = rgba(0, 0, 0, 0.3)
$color-word-l = rgba(0, 0, 0, 0.5)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px